body {
  margin: 0;
  font-family: sans-serif;
  background-color: #363232;
  /* background-color: #000; */
  color: white;
}

/* ГЛАВНОЕ МЕНЮ */
#main-nav {
  position: fixed;
  top: 0; left: 0; right: 0;
   background: linear-gradient(to bottom, #2f2f2f, #1f1f1f);
 padding: 12px 20px;
  border-bottom: 1px solid #555;

  z-index: 10;
}

#main-nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background 0.2s;

}

#main-nav a:hover {
  background: rgba(255,255,255,0.1);
}

/* ПОДМЕНЮ  */

#sub-nav {
  position: fixed;
  top: 35px; left: 0; right: 0;
  background: #2a2a2a;
  overflow: hidden;
  max-height: 0; /* изначально спрятан */
  transition: max-height 0.4s ease;
  border-bottom: 1px solid #444;
  padding: 8px 15px;

}

#sub-nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  display: inline-block;
  padding: 6px 10px;
  border-radius: 4px;
  transition: background 0.2s;
}
#sub-nav a:hover {
  background: rgba(255,255,255,0.15);
}

#sub-nav a.active {
  background: #5a5a5a;
}


#content {
  max-width: 900px;
  background: #2b2b2b;
  padding: 30px;
  border-radius: 8px;
  margin-top: 100px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  line-height: 1.6;
  margin: 100px auto 0;
  opacity: 0;
  transition: opacity 0.3s ease;

}
#content.loaded {
  opacity: 1;
}

img{
  max-width: 100%;
}



/* === новая панель === */

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #2b2b2b;
  color: white;
  display: flex;
}

/* Боковая панель */
#sidebar {
  width: 260px;
  background: #1f1f1f;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px 0;
  overflow-y: auto;
  border-right: 1px solid #333;
}

/* Основное меню */
#main-nav a {
  display: block;
  padding: 10px 20px;
  color: #ddd;
  text-decoration: none;
  transition: background 0.2s;
}

#main-nav a:hover {
  background: #333;
}

/* Подменю */
#sub-nav {
  margin-top: 10px;
  border-top: 1px solid #444;
  padding-top: 10px;
}

#sub-nav a {
  display: block;
  padding: 8px 30px;
  color: #bbb;
  text-decoration: none;
  transition: background 0.2s;
}

#sub-nav a:hover {
  background: #3a3a3a;
}

/* Контент */
#content {
  margin-left: 260px;
  padding: 40px;
  max-width: 900px;
}