:root {
  --menu-bg: #1e1e1e;
  --menu-hover: #2a2a2a;
  --menu-active: #007acc;
  --menu-text: hsla(0,0%,100%,.411);
  --menu-text-active: #ffffff;
}


/* Базовые стили */
body {
  margin: 0;
  font-family: sans-serif;
  background: #121212;
  color: #ddd;
  font-family: system-ui, sans-serif;

  display: flex;
}

/* Основное меню слева */
#sidebar {
  width: 220px;
  background: #1f1f1f;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
  border-right: 1px solid #333;
  padding-top: 20px;
}

/* Подменю справа от основного */
#sub-sidebar {
  width: 240px;
  background: #252525;
  height: 100vh;
  position: fixed;
  left: 220px;
  top: 0;
  overflow-y: auto;
  border-right: 1px solid #333;
  padding-top: 20px;
}

#sub-sidebar::-webkit-scrollbar {
  width: 8px;
}

#sub-sidebar::-webkit-scrollbar-track {
  background: #1f1f1f;
}

#sub-sidebar::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 4px;
}

#sub-sidebar::-webkit-scrollbar-thumb:hover {
  background: #555;
}



/* Основное меню */
#main-nav {
  background: var(--menu-bg);
  padding: 20px 0;
  border-right: 1px solid #333;
  position: relative;
}




#main-nav a {
  display: block;
  padding: 12px 20px;
  color: var(--menu-text);
  text-decoration: none;
  transition: background 0.25s ease, color 0.25s ease;

  /* font-size: 15px; */
}

#main-nav a,
#sub-nav a {
  transition: background 0.25s ease, color 0.25s ease;
}

#main-nav a.active,
#sub-nav a.active {
  color: #00eaff;
  text-shadow:
    0 0 6px #00eaff,
    0 0 12px #00eaff,
    0 0 18px #00aaff;
}








#main-nav a:hover {
  background: var(--menu-hover);
  color: var(--menu-text-active);

}




/* Подменю */
#sub-nav {

  transition: max-height 0.35s ease;
  padding-bottom: 20px;
}



#sub-nav a {
  display: block;
  padding: 10px 25px;
  color: var(--menu-text);
  text-decoration: none;
  transition: background 0.25s ease, color 0.25s ease;
  /* font-size: 14px; */
}



#sub-nav a:hover {
  background: var(--menu-hover);
  color: var(--menu-text-active);

}

#main-nav a,
#sub-nav a {
  position: relative;
}

/* Контент */
#content {
  margin-left: 460px;
  padding: 40px;
  max-width: 900px;
  /* opacity: 1;
  transition: opacity 0.3s ease; */

  opacity: 0;
  transform: translateY(10px);
  filter: blur(4px);

  transition:
    opacity 0.35s ease,
    transform 0.35s ease,
    filter 0.35s ease;

}

#content.fade {
  opacity: 0;
}

#content.loaded {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}


/* === картинка === */

img {
  opacity: 0;
  transition: opacity 0.3s ease;
  background: #3a3a3a;
  border: 1px solid #555;
  height: 150px;
}

img.loaded {
  opacity: 1;
  background: none;
  border: none;
}

/* === картинка на весь экран === */

/* Оверлей */
#img-viewer {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 9999;
}

/* Активное состояние */
#img-viewer.active {
  opacity: 1;
  pointer-events: auto;
}

/* Картинка в полноэкранном режиме */
#img-full {
  max-width: 90%;
  max-height: 90%;
  border-radius: 6px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  transform: scale(0.95);
  transition: transform 0.3s ease;
}

/* Анимация увеличения */
#img-viewer.active #img-full {
  transform: scale(1);
}
#img-viewer.active img{
  opacity: 1;
  transform: scale(1);

}

#img-viewer img {
  width: 80vw !important;
  height: auto !important;
  /* max-height: 90vh; */
  object-fit: contain;
  transform: scale(0.9);
  transition: transform 0.3s ease;

}


/* Крестик */
#img-close {
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: 32px;
  color: white;
  cursor: pointer;
  user-select: none;
  transition: opacity 0.2s ease;
}

#img-close:hover {
  opacity: 0.6;
}

#content img {
  opacity: 0;
  transition: opacity 0.3s ease;
}

#content img.loaded {
  opacity: 1;
}



/* линия которая бегает по меню */
#active-line {
  position: absolute;
  left: 0;
  width: 4px;
  background: linear-gradient(
    to bottom,
    #00eaff,
    #0088ff
  );
  box-shadow:
    0 0 8px #00eaff,
    0 0 16px #00eaff,
    0 0 24px #0088ff,
    inset 0 0 6px #00eaff;
  border-radius: 2px;
  transition: top 0.25s ease, height 0.25s ease;
  z-index: 1;
}


