/* Базовые стили */
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #2b2b2b;
  color: white;
  display: flex;
}

/* Основное меню слева */
#sidebar {
  width: 220px;
  background: #1f1f1f;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
  border-right: 1px solid #333;
  padding-top: 20px;
}

/* Подменю справа от основного */
#sub-sidebar {
  width: 240px;
  background: #252525;
  height: 100vh;
  position: fixed;
  left: 220px;
  top: 0;
  overflow-y: auto;
  border-right: 1px solid #333;
  padding-top: 20px;
}

/* Основное меню */
#main-nav a {
  display: block;
  padding: 12px 20px;
  color: #ddd;
  text-decoration: none;
  transition: background 0.2s;
  font-size: 15px;
}

#main-nav a:hover {
  background: #333;
}

#main-nav a.active {
  background: #444;
  color: #fff;
}


/* Подменю */
#sub-nav a {
  display: block;
  padding: 10px 25px;
  color: #ccc;
  text-decoration: none;
  transition: background 0.2s;
  font-size: 14px;
}

#sub-nav a.active {
  background: #4a4a4a;
  color: #fff;
}


#sub-nav a:hover {
  background: #3a3a3a;
}

/* Контент */
#content {
  margin-left: 460px;
  padding: 40px;
  max-width: 900px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

#content.fade {
  opacity: 0;
}


img {
  max-width: 100%;
}